
.container-wrapper {
    margin: auto;
    min-width: 300px;
  }
  
  @media screen and (max-width:639px) {
    .container-wrapper {
      width: calc(100% - 35px) !important;
    }
    .vignette-relative {
      position: absolute;
    }
  }
  
  @media screen and (min-width:640px) {
    .container-wrapper {
      width: 600px !important;
    }
    .vignette-relative {
      position: absolute;
    }
  }
  
  @media screen and (min-width: 768px) {
    .container-wrapper {
      width: 750px !important;
    }
  }
  
  @media screen and (min-width: 990px) {
    .container-wrapper {
      width: 950px !important;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .container-wrapper {
      width: 1130px !important;
    }
  }
  
  @media screen and (min-width: 1300px) {
    .container-wrapper {
      width: 1280px !important;
    }
  }
  
  @media screen and (min-width: 1400px) {
    .container-wrapper {
      width: 1330px !important;
    }
  }
  